<a href="https://colab.research.google.com/github/beejhay31/100-days-of-code/blob/master/Scaled_Hamoye_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [ ]:
df.head(10)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
5  2016-01-11 17:50:00          50      40  ...   4.800000  44.919484  44.919484
6  2016-01-11 18:00:00          60      50  ...   4.700000  47.233763  47.233763
7  2016-01-11 18:10:00          60      50  ...   4.683333  33.039890  33.039890
8  2016-01-11 18:20:00          60      40  ...   4.666667  31.455702  31.455702
9  2016-01-11 18:30:00          70      40  ...   4.650000   3.089314   3.089314

[10 rows x 29 columns]

In [ ]:
column_names = {'T1':'Temp_Kitch(Cel)', 'RH_1': 'Humid_kitch(%)',
'T2': 'Temp_liv_r(Cel)', 'RH_2': 'Humid_liv_r(%)', 'T3': 'Temp_laund_r(Cel)', 'RH_3': 'Humid_laund_r(%)',
'T4': 'Temp_office_r(Cel)', 'RH_4': 'Humid_office_r(%)', 'T5': 'Temp_bath_r(Cel)', 'RH_5': 'Humid_bath_r(%)', 
'T6': 'Temp_out_build_North(Cel)', 'RH_6': 'Humid_out_build_North(%)',
'T7': 'Temp_iron_r(Cel)', 'RH_7': 'Humid_iron_r(%)', 'T8': 'Temp_teen_r(Cel)', 'RH_8': 'Humid_teen_r(%)',
'T9': 'Humid_par_room(Cel)', 'RH_9': 'Humid_par_room(%)',
'rv1': 'rand_var1', 'rv2': 'rand_var2'}

In [ ]:
df = df.rename(columns=column_names)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
features_df = df.drop(columns=['date', 'lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(features_df), columns=features_df.columns)
#features_df = normalised_df.drop(columns=['date', 'lights'])
target_var = normalised_df['Appliances']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(normalised_df, target_var, test_size=0.3, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(x_train, y_train)
predicted_values = linear_reg.predict(x_test)

In [ ]:
pred_val_df=pd.DataFrame(predicted_values)
pred_val_df

             0
0     0.028037
1     0.074766
2     0.037383
3     0.037383
4     0.056075
...        ...
5916  0.224299
5917  0.046729
5918  0.037383
5919  0.093458
5920  0.037383

[5921 rows x 1 columns]

In [ ]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.0

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

1.0

In [ ]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

0.0

In [ ]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.0

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
from sklearn.linear_model import ElasticNet
e_net = ElasticNet(alpha = 0.001) 
e_net.fit(x_train, y_train)

ElasticNet(alpha=0.001, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [ ]:
linear_model_weights = get_weights_df(linear_reg, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
e_weights_df = get_weights_df(e_net, x_train, 'E_weights')

In [ ]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights=pd.merge(final_weights, e_weights_df, on='Features')

In [ ]:
final_weights

                     Features  Linear_Model_Weight  ...  Lasso_weight  E_weights
0              Humid_liv_r(%)        -3.188348e-16  ...     -0.000000  -0.000000
1                   Windspeed        -2.278562e-16  ...      0.000000   0.000000
2             Temp_liv_r(Cel)        -2.054633e-16  ...      0.000000   0.000000
3           Humid_office_r(%)        -1.092237e-16  ...      0.000000   0.000000
4            Humid_laund_r(%)        -9.242872e-17  ...      0.000000   0.000000
5    Humid_out_build_North(%)        -8.979859e-17  ...     -0.000000  -0.000000
6                   rand_var2        -8.315675e-17  ...     -0.000000  -0.000000
7                   rand_var1        -8.315675e-17  ...     -0.000000  -0.000000
8             Temp_Kitch(Cel)        -7.787265e-17  ...      0.000000   0.000000
9                  Visibility        -4.138629e-17  ...      0.000000   0.000000
10           Temp_bath_r(Cel)        -1.007527e-17  ...      0.000000   0.000000
11           Temp_teen_r(Cel)         9.238327e-19  ...      0.000000   0.000000
12           Temp_iron_r(Cel)         8.804554e-18  ...      0.000000   0.000000
13          Temp_laund_r(Cel)         1.388656e-17  ...      0.000000   0.000000
14            Humid_bath_r(%)         1.648234e-17  ...      0.000000   0.000000
15                      T_out         3.137894e-17  ...      0.000000   0.000000
16        Humid_par_room(Cel)         3.517382e-17  ...      0.000000   0.000000
17            Humid_teen_r(%)         3.717897e-17  ...     -0.000000  -0.000000
18  Temp_out_build_North(Cel)         4.869099e-17  ...      0.000000   0.000000
19                Press_mm_hg         7.829226e-17  ...     -0.000000  -0.000000
20                  Tdewpoint         1.071812e-16  ...      0.000000   0.000000
21             Humid_kitch(%)         1.225757e-16  ...      0.000000   0.000000
22            Humid_iron_r(%)         1.310702e-16  ...     -0.000000  -0.000000
23         Temp_office_r(Cel)         1.334537e-16  ...      0.000000   0.000000
24          Humid_par_room(%)         1.477002e-16  ...     -0.000000  -0.000000
25                     RH_out         1.550144e-16  ...     -0.000000  -0.000000
26                 Appliances         1.000000e+00  ...      0.891991   0.897525

[27 rows x 5 columns]