<a href="https://colab.research.google.com/github/beejhay31/100-days-of-code/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [ ]:
column_names = {'T1':'Temp_Kitch(Cel)', 'RH_1': 'Humid_kitch(%)',
'T2': 'Temp_liv_r(Cel)', 'RH_2': 'Humid_liv_r(%)', 'T3': 'Temp_laund_r(Cel)', 'RH_3': 'Humid_laund_r(%)',
'T4': 'Temp_office_r(Cel)', 'RH_4': 'Humid_office_r(%)', 'T5': 'Temp_bath_r(Cel)', 'RH_5': 'Humid_bath_r(%)', 
'T6': 'Temp_out_build_North(Cel)', 'RH_6': 'Humid_out_build_North(%)',
'T7': 'Temp_iron_r(Cel)', 'RH_7': 'Humid_iron_r(%)', 'T8': 'Temp_teen_r(Cel)', 'RH_8': 'Humid_teen_r(%)',
'T9': 'Humid_par_room(Cel)', 'RH_9': 'Humid_par_room(%)',
'rv1': 'rand_var1', 'rv2': 'rand_var2'}

In [ ]:
df = df.rename(columns=column_names)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
features_df = df.drop(columns=['date', 'lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(features_df), columns=features_df.columns)
#features_df = normalised_df.drop(columns=['date', 'lights'])
target_var = normalised_df['Appliances']

In [ ]:
import numpy as np

data_x=np.array(normalised_df['Temp_liv_r(Cel)'])

In [ ]:
data_y=np.array(normalised_df['Temp_out_build_North(Cel)'])

In [ ]:
data_x=data_x.reshape(-1, 1)

In [ ]:
data_x=pd.DataFrame(data_x)

In [ ]:
data_y=data_y.reshape(-1, 1)

In [ ]:
data_y=pd.DataFrame(data_y)

In [ ]:
data_x

              0
0      0.225345
1      0.225345
2      0.225345
3      0.225345
4      0.225345
...         ...
19730  0.711655
19731  0.701769
19732  0.692651
19733  0.677054
19734  0.666171

[19735 rows x 1 columns]

In [ ]:
data_y

              0
0      0.381070
1      0.375443
2      0.367487
3      0.363800
4      0.361859
...         ...
19730  0.898317
19731  0.880852
19732  0.864260
19733  0.829525
19734  0.788580

[19735 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.3, train_size=0.7, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
#fit the model to the training dataset
linear_reg.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_reg.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [ ]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [ ]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

0    66.12
dtype: float64

In [ ]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [24]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [25]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [26]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [27]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106